<!DOCTYPE html>
<html lang="en">
 

   
    <%-include('../partials/head') %>
      

 <!-- INCLUDES HEAD-->

 
 <body>
    <!-- INCLUDES HEADER-->
  <%- include('../partials/header') %>
    <main>
        <section class="mainCart">
      <section class="tituloCart">
        <h2>CARRITO DE COMPRAS</h2>

      </section>
      <section class="listaCart">

        <div class="detalleCart">
            <h3>ITEMS</h3>
            <h3>PRECIO</h3>
            <h3>CANTIDAD</h3>
            <h3>TOTAL</h3>
        </div>
        <div class="itemResumenCart">

        <div class="itemsCart">
            <% if(cartItems == '') { %>  
                <div class="no_items_container">
                    <div class="message">
                    <h2>No tienes productos agregados al carrito! </h2>
                    <h3><a href="/products">Mira nuestros productos</a></h3>
                    </div>
                </div>
            <% } else { %>
                <% cartItems.forEach(item => { %>
            <article class="carrito-item">
                <div class="itemImg">
                    <img src="/imag/products/<%= product.image %>" alt="" class="imgItemCart">
                    <h3 class="nombreItemCart"> <%= product.nombreProducto %> </h3>
                </div>
                <h3 class="precioItemCart"><%= product.precioProducto %> </h3>
                <div class="masMenos">
                    <button>+</button>
                    <!--icon favorite, add product, cart--> <h3>1</h3>
                    <button>-</button>
                </div>
                <h3>$1800</h3>
            </article>
            <% }) %>
        </div>
        <div class="resumenCart">
            <h3>Resumen</h3>
            <div class="subtotalCart">
                <h4>Total</h4>
                <h4>$ <%= total %> </h4>
            </div>
            <!-- <div class="totalsEnvioCart">
                <h4>Total sin envio</h4>
                <h4>$3600</h4>
            </div> -->
            <button><a href="#">PAGAR</a></button>


        </div>

    </div>
        

      </section>
    </section>
    </main>
 
          
    <%- include('../partials/footer') %>
    
    <script src="js/validations/showItemsCart.js"></script>

</body>

</html>