<!DOCTYPE html>
<html lang="en">
 
<%-include('./partials/head') %>
      

 <!-- INCLUDES HEAD-->

 
 <body>
    <!-- INCLUDES HEADER-->
  <%- include('./partials/header') %>
    <main>
        <section class="mainCart">
      <section class="tituloCart">
        <h2>CARRITO DE COMPRAS</h2>

      </section>
      <section class="listaCart">

        <div class="detalleCart">
            <h3>ITEMS</h3>
            <h3>PRECIO</h3>
            <h3>CANTIDAD</h3>
            <h3>TOTAL</h3>
        </div>
        <div class="itemResumenCart">

        <div class="itemsCart">
            <ul></ul>
            <% productosCarrito.forEach(producto => { %>
                <li i class="detailProductList">
                    <section class="image">
                        <img src=<%=product.image %> alt="">
                    </section>
                    <section class="detalle">
                        <h4><%= product.name %> <%= product.brand %> </h4>
                        <p class="price">$<%= product.price %> </p>
                        <p class="discount"><%= product.discount > " " ? product.discount + '%' : " " %> </p>
                        <!--CONTADOR-->
                        <!-- <div class="counter">
                            <span class="down" onClick='decreaseCount(event, this)'>-</span>
                            <input type="text" value="1">
                            <span class="up" onClick='increaseCount(event, this)'>+</span>
                        </div> -->
                    </section>
                    <section class="editar">
                        <!-- <a href="/productos/producto/<%= product.id %>" >
                            <i class="fas fa-pencil-alt"></i>
                        </a> -->
                        <form action="/carrito/delete/<%= product.id %>" method="POST" >
                            <button class="boton-editar"><i class="fa-regular fa-trash-can"></i></button>
                        </form>
                        <h4>$<%= product.price-(product.price * product.discount /100)  %> </h4>
                    </section>
                </li>               
            <% }) %>
            </ul>
        


        </div>
        <div class="resumenCart">
            <h3>Resumen</h3>
            <div class="subtotalCart">
                <h4>Total</h4>
                <h4>$ <%= total %> </h4>
            </div>
            <!-- <div class="totalsEnvioCart">
                <h4>Total sin envio</h4>
                <h4>$3600</h4>
            </div> -->
            <button><a href="#">PAGAR</a></button>


        </div>

    </div>
        

      </section>
    </section>
    </main>
 
          
    <%- include('./partials/footer') %>
    
    <script src="../public/js/validations/showItemsCart.js"></script>

</body>

</html>