<!DOCTYPE html>
<html lang="en">
    <!-- INCLUDES HEAD-->
<%- include('../partials/head') %>

<body> 

<!-- INCLUDES HEADER-->
<%- include("../partials/header") %>

<main class="perfil">
    <section class="perfilUsuario">
        <div>
            <h2> Hola <%=  user.name + " " + user.surname %>  </h2>
            <h3><%= user.email %> </h3>
            <br>
            <br>
            <br>
            <br>
            <button>LOG OUT</button>
        </div>
        <img src="/img/avatars/<%= user.profile_image %>">
    </section>
    <section>
        <img src="/img/userPerfil.jpg" alt="img perfil">
    </section>
</main>

    
</body>

 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %>

</html>