<!DOCTYPE html>
<html lang="en">
    <!-- INCLUDES HEAD-->
<%- include('../partials/head') %>

<body> 

<!-- INCLUDES HEADER-->
<%- include("../partials/header") %>

<main>
<<<<<<< HEAD
    <div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-3">
            <h2> Hi <%=  user.fullName %>  </h2>
            <img src="/images/avatars/ <%= user.avatar %> ">
            <br>
            <br>
            <div class="alert alert-succes"><%= user.email %> </div>
        </div>
    </div>
    </div>
=======
    <section>
        <div class="perfil_menu">
            
        </div>
        <div>
            <div class="perfil_avatar">
                <img src="" alt="">
                <p><a href="">Cambiar imagen</a></p>

            </div>
            <div class="perfil_info">
                <h2 class="perfil_info_nombre"> </h2>
                <h3 class="perfil_info_email"></h3>
                <h3 class="perfile_info_contrasena"><a href="">Cambiar contraseña</a></h3>
            </div>
        </div>
    </section>

>>>>>>> 971a12871d1b373f13feb8b72745162f557580b2
</main>

    
</body>

 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %>

</html>