<!DOCTYPE html>
<html lang="en">

     <!-- INCLUDES HEAD-->
<%- include('../partials/head', {title: producto.name}) %> <!--Para agregarle algo al title-->


<body> 
 
<!-- INCLUDES HEADER-->
<%- include("../partials/header") %>
<main>
<!--FALTA INFO PRICE, DISCOUNT, CATEGORY EXPIRATION_DATE, CREATION_DATE PRECIO FINAL (<%= product.price - ((producto.discount * producto.price)/100) %>)-->
    <section class="product">
        <div class="productTitle">
            <h2><%= producto.name %></h2>
            <p></p>
            <p class="productTitleCreator"><%= producto.brand %></p>
        </div>
        <div class="productAdd">
            <div class="masMenos">
                <button>+</button>
                <!--icon favorite, add product, cart--> <h3>1</h3>
                <button>-</button>
            </div>
            <button><h3>AGREGAR A CARRITO</h3></button>
            <button><i class="fa-regular fa-heart"></i></button>
        </div>


    </section>
    <section class="productSpec"> 
        <img src="img/<%= producto.image %>" alt="">
        <div class="productSpecInfo">
            <h3>Especificaciones del producto</h3>
            <p> <%= producto.detail %></p>
        </div>
        </div>
    </section>
</main>
 <!-- INCLUDES FOOTER-->
<%- include('../partials/footer') %>
</body>
</html>