<!DOCTYPE html>
<html lang="en">

     <!-- INCLUDES HEAD-->
<%- include('../partials/head') %> <!-- , {title: Productos})-->
<body>
    <!-- INCLUDES HEADER-->
<%- include('../partials/header') %>

<main>
  <section class="main-products">
  <section class="products">
    
    <% ps.forEach(product => { %>
    <a href="/products/detail/<%= product.id %>">
    <article class="product-item" name="product-spec">
     <img src="img/products/<%= product.image %>" name="image" alt="image-product">
     <div class="product-price">
        <p class="price" name="price">$<%= toThousand(product.price) %></p>
        <% if (product.discount !== 0) { %>
          <p><%= product.discount %>  % OFF</p>
          <p>$ <%= toThousand(product.price - (product.price * product.discount / 100)) %></p>
        <% } %>
      </div>
      <h3 class="name" name="name"><%= product.name %></h3>
      <h4 class="brand" name="brand"><%= product.brand %></h4>
      <!-- <h5 class="category" name="category"><%= product.category %></h5> -->
    </article>
    </a>
    <% }) %>
  
    </section>
  </section>
</main>

  <!-- INCLUDES FOOTER-->
<%- include('../partials/footer') %>
</body>
</html>